/* Aqui se importa Tailwind CSS, ya no se usa el archivo tailwind.config.js
*/

@import "tailwindcss";


/* root es el selector global que define las variables personalizadas
   para el tema claro (light mode)
*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
  Aqui se definen las variables de tema para el modo inline,
  asignando los valores de las variables personalizadas, conecta 
  tailwind a css
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter-tight);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter)
}

/* Aplica las variables globales al body para el tema inline */
